
.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.btn-circle {
    height: 30px;
    width: 30px;
    line-height: 15px;
    font-weight: bold;
    border-radius: 50%;
    float: right;
    font-family: monospace;
    padding-left: 10px !important;
  }

.contenedor {
    display: inline-block;
}

.new-line {
    white-space: pre;
}

  @keyframes floating {
    0% { 
        transform: translate(0,  0px); 
        color: rgb(0, 0, 0);
    }
    50% { 
        transform: translate(0, 15px);
        color: #ffc107; 
    }
    100%   { 
        transform: translate(0, 0px); 
        
    }
}
