<div class="container mb-4">
    <div class="row">
        <div class="col-4 mx-auto">
            <div class="card mt-3">
                <table class="table table-striped mb-0 align-middle">
                    <thead class="text-center">
                        <tr class="table-info fs-5">
                            <th class="table-info">Atributo</th>
                            <th class="table-info">Puntuación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Comunicación de datos</td>
                            <td><input class="form-control" type="number" step="1" value="0" min="0" max="5" name="att1" required/></td>
                        </tr>
                        <tr>
                            <td>Procesamiento de datos distribuido</td>
                            <td><input class="form-control" type="number" step="1" value="0" min="0" max="5" name="att2" required/></td>
                        </tr>
                        <tr>
                            <td>Rendimiento</td>
                            <td><input class="form-control" type="number" step="1" value="0" min="0" max="5" name="att3" required/></td>
                        </tr>
                        <tr>
                            <td>Uso del hardware existente</td>
                            <td><input class="form-control" type="number" step="1" value="0" min="0" max="5" name="att4" required/></td>
                        </tr>
                        <tr>
                            <td>Transacciones</td>
                            <td><input class="form-control" type="number" step="1" value="0" min="0" max="5" name="att5" required/></td>
                        </tr>
                        <tr>
                            <td>Entrada de datos interactiva</td>
                            <td><input class="form-control" type="number" step="1" value="0" min="0" max="5" name="att6" required/></td>
                        </tr>
                        <tr>
                            <td>Eficiencia</td>
                            <td><input class="form-control" type="number" step="1" value="0" min="0" max="5" name="att7" required/></td>
                        </tr>
                        <tr>
                            <td>Actualización de datos online</td>
                            <td><input class="form-control" type="number" step="1" value="0" min="0" max="5" name="att8" required/></td>
                        </tr>
                        <tr>
                            <td>Complejidad de procesamiento</td>
                            <td><input class="form-control" type="number" step="1" value="0" min="0" max="5" name="att9" required/></td>
                        </tr>
                        <tr>
                            <td>Reusabilidad</td>
                            <td><input class="form-control" type="number" step="1" value="0" min="0" max="5" name="att10" required/></td>
                        </tr>
                        <tr>
                            <td>Facilidad de conversión e instalación</td>
                            <td><input class="form-control" type="number" step="1" value="0" min="0" max="5" name="att11" required/></td>
                        </tr>
                        <tr>
                            <td>Facilidad de operación</td>
                            <td><input class="form-control" type="number" step="1" value="0" min="0" max="5" name="att12" required/></td>
                        </tr>
                        <tr>
                            <td>Múltiples instalaciones</td>
                            <td><input class="form-control" type="number" step="1" value="0" min="0" max="5" name="att13" required/></td>
                        </tr>
                        <tr>
                            <td>Facilidad de mantenimiento</td>
                            <td><input class="form-control" type="number" step="1" value="0" min="0" max="5" name="att14" required/></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>