<div class="container mb-3">
    <div class="row mt-2">
        <div class="col-4 mx-auto">
            <table class="table align-middle table-borderless mt-3">
                <tbody>
                    <tr>
                        <td>Plataforma de desarrollo</td>
                        <td>
                            <select class="form-select" name="plataforma">
                                <option value=""></option>
                                <option value="MF">MF</option>
                                <option value="MR">MR</option>
                                <option value="PC">PC</option>
                                <option value="Multi">Multi</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Lenguage de programación</td>
                        <td>
                            <select class="form-select" name="lenguaje">
                                <option value=""></option>>
                                <option value="3GL">3GL</option>
                                <option value="4GL">4GL</option>
                                <option value="GenAp">GenAp</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Modalidad de desarrollo</td>
                        <td>
                            <select class="form-select" name="modalidad">
                                <option value=""></option>
                                <option value="Nuevo">Nuevo</option>
                                <option value="Mantenimiento" disabled>Mantenimiento</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>