{% extends "base.html" %}

{% block style %}
<link href="../static/css/lcom4.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="container">
{% for fila in graficas | batch(2) %}
    <div class="row gx-4">
        {% for g in fila %}
        <div class="col gy-4">
            {% if g.2 > 1 %}
            <div class="card text-center border-danger ps-0 pe-0">
            {% else %}
            <div class="card text-center border-success ps-0 pe-0">
            {% endif %}
                <div class="card-header fs-2 fw-semibold">
                    {{ g.0 }}
                </div>
                <div class="card-body overflow-hidden">
                    {{ g.1 | safe }}
                </div>
                <div class="card-footer text-body-secondary">
                    <span class="fw-bold">LCOM4</span>
                    = {{ g.2 }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endfor %}
</div>
<br/>
{% endblock %}