{% extends "base.html" %}

{% block content %}
    {% for clase in graficas_clase %}
        <h2>Nombre Clase</h2>
        <div class="container">
            
            {% for fila in clase | batch(2) %}
                <div class="row gx-4">
                {% for g in fila %}
                    <div class="col gy-4">
                        <div class="card text-center border-success ps-0 pe-0">
                            <div class="card-header fs-2 fw-semibold">Nombre Metodo</div>
                            <div class="card-body overflow-hidden">
                                {{ g | safe }}
                            </div>
                            <div class="card-footer text-body-secondary">
                                <span class="fw-bold">V(G)</span>
                                = 0
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
        </div>
        <hr>
    {% endfor %}
    <br/>
{% endblock %}