{% extends "base.html" %}

{% block style %}
<link href="../static/css/base.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card text-center border-success ps-0 pe-0">
                <div class="card-header fs-2 fw-semibold">
                    {{ title }}
                </div>
                <div class="card-body overflow-hidden">
                    {{ plot_html | safe }}
                </div>
                <div class="card-footer text-body-secondary">
                    <span class="fw-bold">Metodos ponderados:</span>
                    {{ clase }}
                    {{ modulo }}
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
{% endblock %}